body
{
    background-color: #FADA1A;
    font-family: Merriweather;
}

header img
{
    display: flex;
    width: 200px;
    height: auto;
    margin: auto;
}

.Utilisateur
{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10vh;
}

p
{
    font-size: large;
    font-weight: bold;
}

form, #resultat
{
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    width: 300px;
    padding: 30px;
    border: 3px solid black;
    border-radius: 2%;
}

span 
{
    margin: 10px;
}

a
{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover
{
    color: white;
}


input
{
    
    margin: 10px;
    border: none;
    border: 2px solid black;
    border-radius: 6%;
    padding: 7px 17px;
    transition-duration: 0.4s;
}
  
input:hover
{
    background-color: #FADA1A;
    border: 2px solid white;
}

footer
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

footer img
{
    width: 5%;
    height: auto;
}

footer p
{
    font-size: small;
}

@media all and (max-width: 1024px)
{
    body
    {
        width: fit-content;
        margin: auto;
    }
}