body
{
    background-color: #FADA1A;
    font-family: Merriweather;
    font-weight: bold;
}

header img
{
    display: flex;
    width: 200px;
    height: auto;
    margin: auto;
}

h1
{
    text-align: center;
    color: black;
    background-color: white;
    border: 3px solid black;
    padding: 5px;
}

section
{
    background-color: white;
    border: 3px solid black;
    border-radius: 4%;
    padding: 50px;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 100px;
}

ul
{
    list-style: none;
}

a
{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

button
{
    display: flex;
    margin: auto;
    border: none;
    border: 2px solid black;
    border-radius: 6%;
    padding: 7px 17px;
    margin-top: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
button:hover
{
    background-color: #FADA1A;
    border: 2px solid black;
}

footer
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

footer img
{
    width: 5%;
    height: auto;
}

footer p
{
    font-size: small;
}

@media all and (max-width: 1024px)
{
    body
    {
        width: fit-content;
        text-align: center;
    }
}