body
{
    background-color: #FADA1A;
    font-family: Merriweather;
}

header img
{
    display: flex;
    width: 200px;
    height: auto;
    margin: auto;
}

.Utilisateur
{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10vh;
}


p
{
    font-size: large;
    font-weight: bold;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color: white;
}

button
{
    display: flex;
    margin: auto;
    border: none;
    border: 2px solid black;
    border-radius: 6%;
    padding: 7px 17px;
    margin-top: 50px;
    transition-duration: 0.4s;
}

button a
{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
  
button:hover
{
    background-color: #FADA1A;
    border: 2px solid black;
}

footer
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin-top: 49px;
}

footer img
{
    width: 5%;
    height: auto;
}

footer p
{
    font-size: small;
}

@media all and (max-width: 1024px)
{
    body
    {
        width: fit-content;
        margin: auto;
    }
}