body
{
    background-color: #FADA1A;
    font-family: Merriweather;
}

header img
{
    display: flex;
    width: 200px;
    height: auto;
    margin: auto;
}

.Utilisateur
{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10vh;
}

p
{
    font-size:x-large;
    font-weight: bold;
}

#logo
{
    margin-bottom: 50px;
}

a
{
    color: white;
}

footer
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

footer img
{
    width: 5%;
    height: auto;
}

footer p
{
    font-size: small;
}

@media all and (max-width: 1024px)
{
    body
    {
        width: fit-content;
        margin: auto;
    }
}