body
{
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    background-color: #FADA1A;
    font-family: Merriweather;
    font-weight: bold;
}

header img
{
    display: flex;
    width: 200px;
    height: auto;
    margin: auto;
}

h1 
{
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}
    
span
{
    color: white;
}

h2
{
    text-align: center;
}

h3
{
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

#Username
{
    text-align: center;
    color: black;
    background-color: white;
    border: 3px solid black;
    padding: 5px;
}

#score
{
    text-decoration: underline;
}


.choices
{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto 3rem;
    width: 500px;
}

button
{
    flex: 1 0 45%;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: .4rem;
    outline: none;
    background: white;
    user-select: none;
    font-weight: 600;
}

button:hover
{
    background: #FADA1A;
    border: 2px solid black;
    transition: .3s;
}

button:active
{
    transform: scale(.9);
    transition: transform .1s;
}

a
{
    color: white;
}

#countdown
{
    text-align: center;
    font-size: x-large;
    color: red;
}

a:hover 
{
    color: red;
}

p
{
    font-size: 1.3rem;
    margin: 0;
}

h4
{
    text-align: center;
}
  
#progress
{
    font-size: 1.1rem;
    color: black;
    text-align: center;
    margin-bottom: 100px;
}

footer
{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

footer img
{
    width: 5%;
    height: auto;
}

footer p
{
    font-size: small;
}

@media all and (max-width: 1024px)
{
    body
    {
        width: fit-content;
        margin: auto;
        text-align: center;
    }
}