body
{
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    background-color: #FADA1A;
    font-family: Merriweather;
    font-weight: bold;
}

header img
{
    display: flex;
    width: 200px;
    height: auto;
    margin: auto;
}

h1 
{
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}
    
span
{
    color: white;
}


.choices
{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto 3rem;
    width: 500px;
}

.btn
{
    flex: 1 0 45%;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: .4rem;
    outline: none;
    background: white;
    user-select: none;
    font-weight: 600;
}

.btn:hover
{
    background: #FADA1A;
    border: 2px solid black;
    transition: .3s;
}

.btn:active
{
    transform: scale(.9);
    transition: transform .1s;
}

#Deco
{
    flex: 1 0 45%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: .4rem;
    outline: none;
    background: white;
    user-select: none;
    font-weight: 600;
}

#Deco:hover
{
    flex: 1 0 45%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid black;
    margin: .4rem;
    outline: none;
    background: #FADA1A;
    user-select: none;
    font-weight: 600;
}

a
{
    color: black;
    text-decoration: none;
}

footer
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin-top: 49px;
}

footer img
{
    width: 5%;
    height: auto;
}

footer p
{
    font-size: small;
}

@media all and (max-width: 1024px)
{
    body
    {
        width: fit-content;
        margin: auto;
        text-align: center;
    }
}