body
{
  font-family: Merriweather;
  background-color: #fada1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img
{
  display: flex;
  width: 200px;
  height: auto;
  margin: auto;
}

nav
{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 2px solid black;
  padding: 10px;
}

div
{
  width: 30%;
  height: 100px;
  background-color: white;
  margin: 0 auto 20px auto;
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 1%;
}

.d1, .d2, .d3 p
{
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

.d1, .d2, .d3
{
  animation-name: taille;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count:infinite;
}

.d1
{
  animation: couleur 6s linear 1s 2 alternate,
  taille 6s linear 1s 2 alternate both;
}

.d2
{
  animation: couleur 6s linear 2s 2 alternate,
  taille 5s linear 5s 2 alternate both;
}

.d3
{
  animation: couleur 6s linear 3s 2 alternate,
  taille 5s linear 6s 2 alternate both;
}

@keyframes taille
{
  from{width: 30%;}
  50%{width: 10%;}
  75%{width: 70%;}
  to{width: 20%;}
}

@keyframes couleur
{
  from{background-color: rgb(179, 179, 179);}
  50%{background-color: #37331c;}
  75%{background-color: #f7e99b;}
  to{background-color: white;}
}

a
{
  color: black;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}

a:hover
{
  color: white;
}

footer
{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

footer img
{
  width: 15%;
  height: auto;
}

footer p
{
  font-size: small;
  font-weight: bold;
}

@media all and (max-width: 1024px)
{
    body
    {
        width: fit-content;
        margin: auto;
    }
}